// bower:scss
@import "././bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

// @import url(http://fonts.googleapis.com/css?family=Arvo:400,700|Frijole);
@import url(https://fonts.googleapis.com/css?family=Dancing+Script|Fauna+One|Lora:700);

$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";


// font-awesome
@import "font-awesome";

//Variables

$main-bg: rgba(0, 0, 0, 0.7);

$main-color: #cb9f6b;

$font-color: #FFF;

$off-font-color: #222;

$main-font: 'Fauna One', serif;

$banner-font: 'Dancing Script', cursive;

$title-font: 'Lora', serif;


/*---Body---*/

body{
    color: #555;
    font-family: $main-font;
}
 
html, body {
    height: 100%;
    width: 100%;
}

