#menu{
    background: -webkit-linear-gradient($main-bg, $main-bg),url(../img/menu.jpg);
    background: -o-linear-gradient($main-bg, $main-bg),url(../img/menu.jpg);
    background: linear-gradient($main-bg, $main-bg),url(../img/menu.jpg);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    
    .content{
        color: $font-color;
        padding: 25px;
        overflow: hidden;
    }

    ul{
        list-style: none;
        padding: 0;
        li{
            overflow: hidden;
        }
    }
    p{
        float: left;
    }
    span{
        display: block;
        float: right;
        margin-bottom: 30px;
    }
    h2, h3, h4, h5
    {
        clear: both;
    }
    h3{
        border-top: 2px solid #ADADAD;
        border-bottom: 2px solid #ADADAD;
        padding: 15px 0 15px 0;
        margin-top: 40px;
    }
    h4{
        margin-bottom: 40px;
        font-size: 13px;
    }

    // Tablet style start
    @media(min-width: 768px){
        background-image:url(../img/menu.jpg);
        .content{
            background-color: $main-bg;
            padding: 25px;
            margin: 25px;
        }
    }
}